<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TM_SuggestPage>
            <version>1.2.1</version>
        </TM_SuggestPage>
    </modules>
    <global>
        <models>
            <suggestpage>
                <class>TM_SuggestPage_Model</class>
            </suggestpage>
        </models>
        <helpers>
            <suggestpage>
                <class>TM_SuggestPage_Helper</class>
            </suggestpage>
        </helpers>
    </global>
    <frontend>
        <routers>
            <suggestpage>
                <use>standard</use>
                <args>
                    <module>TM_SuggestPage</module>
                    <frontName>suggest</frontName>
                </args>
            </suggestpage>
        </routers>
        <layout>
             <updates>
                  <suggestpage>
                        <file>tm/suggestpage.xml</file>
                  </suggestpage>
             </updates>
        </layout>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <suggestpage>
                        <type>model</type>
                        <class>suggestpage/observer</class>
                        <method>addToCartComplete</method>
                    </suggestpage>
                </observers>
            </checkout_cart_add_product_complete>
            <ajaxpro_load_layout_before>
                <observers>
                    <suggestpage>
                        <type>model</type>
                        <class>suggestpage/observer</class>
                        <method>prepareLayoutHandlesAndBlocks</method>
                    </suggestpage>
                </observers>
            </ajaxpro_load_layout_before>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <TM_SuggestPage>
                    <files>
                        <default>TM_SuggestPage.csv</default>
                    </files>
                </TM_SuggestPage>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <suggestpage translate="title" module="suggestpage">
                                            <title>SuggestPage</title>
                                        </suggestpage>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <ajaxpro_message_handle_options_load>
                <observers>
                    <suggestpage>
                        <type>model</type>
                        <class>suggestpage/observer</class>
                        <method>addAjaxProMessageHandleOption</method>
                    </suggestpage>
                </observers>
            </ajaxpro_message_handle_options_load>
        </events>
    </adminhtml>
    <default>
        <suggestpage>
            <general>
                <show_after_addtocart>1</show_after_addtocart>
            </general>
            <mobile>
                <show_after_addtocart>1</show_after_addtocart>
            </mobile>
        </suggestpage>
    </default>
</config>