<!--@subject New log information about {{var username}} update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Order Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <!-- [ header starts here] -->
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <tr>
                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                    <p align="center" style="font-size:12px; margin:0;">
                        <strong>New successful login notice</strong>
                    </p>
                </td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">
                        We noticed a new successful login into the backend on <strong>{{var date_time}}</strong>. Details:<br>
                        Username: <strong>{{var username}}</strong><br/>
                        Fullname: <strong>{{var fullname}}</strong><br/>
                        Ip: <strong>{{var ip}}</strong><br/>
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>