<?xml version="1.0"?>
<config>
    <modules>
        <YBizz_PriceChange>
            <version>0.1.0</version>
        </YBizz_PriceChange>
    </modules>
    <global>
        <models>
            <ybizz_pricechange>
                <class>YBizz_PriceChange_Model</class>
            </ybizz_pricechange>
        </models>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <ybizz_pricechange_observer>
                        <class>ybizz_pricechange/observer</class>
                        <method>change_price</method>
                    </ybizz_pricechange_observer>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </global>
</config>