<!--@subject Email - Footer @-->
<!-- End Content -->
</td>
</tr>
</table>

<table width="600" style=" padding:20px 0 0 0; background:#fff;" cellpadding="8" cellspacing="8" style="line-height:16px">
  <tr valign="top">
    <td width="50%" style="padding:8px; line-height:16px;"><strong style="font-weight:bold"> Address: </strong> <br/> 
    eCart.ae<br/>
      Hazel Trading L.L.C.<br/>
      Shop#6, Souq Al Kabeer Building,<br/>
      Khalid Bin Al Walid Street,<br/>
      P.O. Box #241608. Bur Dubai, Dubai.<br/>
      United Arab Emirates. </td>
    <td width="50%" style="padding:8px; line-height:16px;"><strong style="font-weight:bold">Telephone:</strong> 800 42935 </td>
  </tr>
</table>
<!--<h5 class="closing-text">Thank you, {{var store.getFrontendName()}}!</h5>-->
</td>
</tr>
</table>
<!-- End wrapper table -->
</body>