.checkout-onepage-index .block-title{background-color: #2d2e32;color:#fff;padding:15px;}
.checkout-onepage-index .block-content{padding:15px;border:1px solid #eaeaea;}
.checkout-onepage-index .block-content li.item{margin:0;border-bottom:1px solid #eaeaea;padding:10px 0;}
.checkout-onepage-index p.amount,
.checkout-onepage-index p.subtotal{}
.checkout-onepage-index .mini-products-list .product-details .product-name{padding-top:0;color:#3a3a3a;
font-size:15px;}
.catalog-product-view .product-view .product-shop .product-name .h1{
font-size: 22px;color:rgb(48, 48, 48);font-weight:600;
margin: 0 0 12px 0; padding:0;}