.checkout-onepage-index .col-md-9 .opc {
    margin: 0;
    padding: 0;
    list-style: none;
}

.checkout-onepage-index .col-md-9 .opc li .step-title {
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 243, 243, 243);
    background-color: rgb( 246, 246, 246);
    font-size: 16px;
    color: rgb( 198, 198, 198);
    text-transform: uppercase;
}

.checkout-onepage-index .col-md-9 .opc li .step-title:before,
.checkout-onepage-index .col-md-9 .opc li .step-title:after {
    content: " ";
    display: table;
}

.checkout-onepage-index .col-md-9 .opc li .step-title:after {
    clear: both;
}

.checkout-onepage-index .col-md-9 .opc li .step-title a {
    float: right;
}

.checkout-onepage-index .col-md-9 .opc li .step-title .number,
.checkout-onepage-index .col-md-9 .opc li .step-title h2 {
    float: left;
}

.checkout-onepage-index .col-md-9 .opc li .step-title .number {
    float: left;
}

.checkout-onepage-index .col-md-9 .opc li.active .step-title {
    background-color: rgb(45, 46, 50);
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 16px;
    margin-bottom: 18px;
}
