.product-view .product-shop .product-name .h1 {
font-size: 22px;color: rgb(48, 48, 48);font-weight: bold;margin: 0 0 12px 0;padding: 0;}
.mainhead .reasonsnav ul li img,.mainheadnav .minicart a img{display:inline-block;}
/*.mainheadnav .searchform #search{width:61%;font-family:inherit;}*/
.maincontainer .filters ul li a{text-decoration:none;}
.maincontainer .filters ul li .currently p{margin-bottom:0;}
.maincontainer .filters ul li .currently ul{list-style-type:none;}
.maincontainer .filters ul li .currently ul li:first-child{padding-top:0;border-top:0;}
.maincontainer .filters ul li .currently ul li:last-child{padding-bottom:0;}
.maincontainer .filters ul li .currently ul li{border-bottom:0;border-top:1px solid #eaeaea;}
.maincontainer .filters ul li .currently .btn-remove{color:#f57a20;display:block;padding:5px 0;}
.maincontainer .filters ul li .currently .label{color:rgb(48,48,48);padding-left:0;font-size:14px;}
.maincontainer .filters ul li .currently .value{font-size:12px;}
.maincontainer .filters ul li.actions a{text-decoration:underline;}
.maincontainer .filters ul li.range-price{border-bottom:0;padding:15px 0px 0;}
.maincontainer .filters ul li.range-price i{font-style:normal;}
.cart_table .label{padding:0 5px 0 0;color:rgba(48,48,48,1);font-size:12px;}
.checkout-types.bottom{list-style-type:none;text-align:right;}
.checkout-types.bottom li{display: inline-block;vertical-align:top;}
.checkout-types.bottom li.method-checkout-cart-methods-multishipping{display:none;}
body.customer-account .block-account{padding:15px 0 0;}
body.customer-account .block-account ul li a{text-transform:uppercase;}
.col2-set{clear:both;}
.col2-set .col-1,.col2-set .col-2{width:50%;float:left;display:inline-block;vertical-align:top;
margin:15px 0;}
.account-login .col-2.registered-users{padding-left:20px;border-left:1px solid #eaeaea;}
body.customer-account .my-account .box-info{border-bottom:1px solid #eaeaea;margin-bottom:15px;}
body.customer-account .my-account .box-info:last-child{border-bottom:0;}
.page-title{margin-top:15px;}
.page-title h1,.scaffold-form h2,h2.legend,.product-review .product-details h2{
font-size:24px;color:#202020;font-weight:300;font-family:'GothamNarrow-Bold', sans-serif;
margin-bottom:15px;}
.scaffolf-form,.form-list{font-family:'GothamNarrow-Book', sans-serif;}
.scaffold-form h2,h2.legend,.product-review .product-details h2{
border-bottom:1px solid #eaeaea;line-height:2;font-size:18px;text-transform:uppercase;}
.scaffold-form p.required{color:#F52020;}
.form-list{list-style-type:none;}
.form-list li{width:100%;margin-bottom:15px;}
.form-list li > div,.form-list li.fields{display:inline-table;width:100%;}
.form-list li > div > .field,.form-list li.fields .field{display:table-cell;padding-right:15px;}
.form-list li > div > .field:last-child,
.form-list li.fields .field:last-child{padding-right:0;}
.form-list li.fields .field{width:auto;}
.form-list li label{padding:10px 0px;font-size:14px;font-weight:600;text-transform:uppercase;}
.form-list li label.required em{color:#F52020;padding:5px 5px 5px 0;}
.form-list li .input-box input,.form-list li .input-box select{
outline:none;padding:8px 12px;font-size:14px;width:100%;border-radius:2px;color:#555;
border:1px solid #eaeaea;}
.form-list li .input-box input:focus,.form-list li .input-box select:focus{border:1px solid #aaa;}
.form-list li.control input,.form-list li.control label{
display:inline-block;padding:5px 10px;vertical-align:top;}
.scaffold-form a,.buttons-set a{color:#f57a20;}
.scaffold-form a:hover,.buttons-set a:hover{color:#303030;}
.buttons-set button{font-size:12px;}
.no-display{display:none;}
.account-login .page-title{border-bottom:1px solid #eaeaea;text-transform:uppercase;margin-top:50px;}
.account-login .col2-set{clear:both;}
.account-login .col2-set .col-1,.col2-set .col-2{}
.account-login .scaffold-form h2,.addresses-list h2{border-bottom:0;margin-bottom:0;
font-family:'GothamNarrow-Medium', sans-serif;}
form .form-instructions{font-style: italic;font-size:13px;color: #999;}
.customer-account-login .col2-set .col-1 ul{list-style:square;padding-left:20px;margin:10px 0 20px 0;}
.customer-account-login .col2-set .col-1 ul li{line-height:1.5;font-size:16px;}
.remember-me-box a.hide {display: none;}
.remember-me-box .link-tip{font-size:13px;padding-left:10px;}
.remember-me-popup{display:none;border:1px solid #cccccc;padding:10px;position:relative;
margin-bottom:10px;}
.remember-me-popup.show {display: block;}
.remember-me-popup .remember-me-popup-close{position:absolute;top:0;right:0;padding:10px;font-size:12px;}
.remember-me-popup .remember-me-popup-close-button{display:none;}
.remember-me-popup-head h3,td.customer-wishlist-item-info h3{line-height:1.5;font-weight:600;
margin-bottom:10px;}
.remember-me-popup-head p{margin-bottom:5px;}
#my_recent_reviews{list-style-type:none;}
#my_recent_reviews li{margin-bottom:25px;border-bottom:1px solid #eaeaea;padding-bottom:15px;}
li.item{margin-bottom:15px;}
li.item .details{display:inline-block;}
li.item .number{display:inline-block;vertical-align:top;background-color:#f57a20;padding:3px 8px;
color:#fff;font-size:12px;}
body.customer-account .data-table,#checkout-step-review .data-table{width:100%;font-size:12px;
margin:15px 0;}
body.customer-account .data-table th,.customer-account .data-table td,#checkout-step-review .data-table th,#checkout-step-review .data-table td{padding: 10px 15px;background-color: #333;color: #fff;
vertical-align: middle;font-size:12px;border: 1px solid #eaeaea;text-align:center;
vertical-align:middle;}
body.customer-account .data-table td,#checkout-step-review .data-table td{background-color:transparent;
color:#303030;}
.data-table a,.addresses-list a{color:#f57a20;}
.data-table a:hover,.addresses-list a:hover{color:#303030;}
body.customer-account .data-table th{font-size:14px;}
body.customer-account .data-table th.ship{width:100px;}
body.customer-account .data-table td.total .price{font-size:12px;}
body.customer-account .data-table td.status{color:#8c8d8e;}
body.newsletter-manage-index .my-account .fieldset h2{display:none;}
.addresses-list h2{margin-bottom:15px;}
.addresses-list ol{list-style-type:none;}
.count-container{text-align:right;}
.count-container p,.count-container .limiter{display:inline-block;vertical-align:top;}
.data-table.clean-table td.customer-wishlist-item-info{text-align:left;}
td.customer-wishlist-item-info h3{font-size:16px;margin-bottom:10px;}
td.customer-wishlist-item-info .wishlist-sku{font-weight:600;}
td.customer-wishlist-item-info .description.std{line-height:1.5;margin:5px 0 10px;}
td.customer-wishlist-item-info textarea,td.customer-wishlist-item-quantity input{outline:none;
padding:8px 12px;font-size:14px;width:100%;border-radius:2px;color:#555;
border:1px solid #eaeaea;margin-bottom:10px;}
td.customer-wishlist-item-quantity input{width:50px;text-align:center;height:40px;}
td.customer-wishlist-item-price,td.customer-wishlist-item-cart{width:115px;}
td.customer-wishlist-item-price p.old-price{text-decoration:line-through;}
td.customer-wishlist-item-price .price-label{font-weight:600;}
.data-table.clean-table .button{text-transform:none;}
td.customer-wishlist-item-price .price{font-size:inherit;}
#checkout-step-review .data-table .price{font-size:inherit;color:inherit;}
#checkout-step-review .data-table .product-name{text-align:left;font-size:14px;margin-bottom:0;}
#checkout-step-review .data-table .a-right{text-align:right;}
#checkout-step-review .data-table th:first-child{text-align:left;}
div.price-slider{height:10px !important;background-color:#e3e3e3 !important;
background-image:none !important;}
.products .product.grid .ratingstopdetail{margin-bottom:0;}
div.price-slider .price-slider-from{top:-3px;background-color:#f57a20 !important;
background-image:none !important;}
div.price-slider .price-slider-to{margin-top:-20px !important;background-color:#f57a20 !important;
background-image:none !important;}
.product-review{}
.product-review .product-img-box,.product-review .product-details,.ratings .rating-box,
.ratings .reviewscounttop{display:inline-block;vertical-align:top;}
.product-review .product-img-box{width:30%;margin-bottom:20px;}
.product-review .product-details{width:69%;padding-left:15px;margin-bottom:20px;}
.product-review .product-img-box .product-image{display:block;padding:5px;border:1px solid #eaeaea;}
.product-review .product-img-box .product-image img{max-width:100%;}
.product-review .product-img-box .label{padding:10px 0 0;display: block;text-align: left;
white-space:normal;margin-bottom:10px;font-size:80%;color:#303030;}
.ratings .reviewscounttop{font-size:12px;color:#999;font-style:italic;padding:3px;}
.product-review .product-details h3{font-size:14px;font-weight:600;line-height:1.5;}
.ratings-table{margin:5px 0 10px;font-size:14px;}
.ratings-table th{padding:0px 5px 0 0;vertical-align: top;}
.ratings-description dt{font-size:14px;line-height:1.5;}
.ratings-description dd{font-size:12px;line-height:1.5;}

@media only screen and (max-width : 800px){
.data-table{display:block;}
.data-table thead,.data-table tbody,.data-table tfoot,.data-table tr,.data-table td,.data-table th{
display:block;}
.data-table tr{background-color:#fff;}
.data-table th{height:auto;}
.cart_table td.delivery{max-width:100%;text-align:center;}
}