/*custom css*/
#auguria-slider { float: right; margin: 0 !important;}
.caption { display: none !important;}
ul.pagination {
	 float: left;
	 padding: 0; margin: 0;
	 position: relative; top: -25px;
	 z-index: 100;
	 left: 34px;
	 
 }
ul.pagination li a { background: none; border: none; height:10px; width: 10px; font-size: 0px; display: inline-block; padding: 0; margin: 0;}
ul.pagination li a:hover {background: none; border: none;}
ul.pagination li { border: none; background: #909090; height: 10px; width: 10px;}
ul.pagination li.current { background: #f57a20;}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
background: none; border: none; height:10px; width: 10px;}
#ads { padding: 9px 0 60px 0;}


.maincontainer section#menuslider {position: relative;}
.maincontainer section#menuslider:before {
  content: "";
  display: block;
  width: 200%;
  height: 100%;
  background-color: #eee;
  position: absolute;
  top: 0;
  z-index: 0;
  left: -50%;
  }
/*.cms-index-index .std > div { padding: 0; margin: 0; line-height: 0px;}*/

.seachfield { border-left: 1px solid #c7c7c7 !important;}
.mainheadnav .searchform .search-category-select, .mainheadnav .searchform .search-category-select button { width: 100% !important;}
.subscribe .button.btn1 { margin: -5px 0 0 -5px} 

.nav-container { position: relative; top: 50px;}
#custommenu { position: absolute; float: left; top: 0; z-index: 5; width: 100%;}
#custommenu .menu { clear: both;}
.cms-index-index #MainCatMenu { display: block !important;}
a.level2:hover, a.level2.act, a.level2.actParent {
    color: #f57a20 !important;
}
a.level1:hover, a.level1.act, a.level1.actParent { color: #f57a20 !important;}
#breadcrumbs { margin-bottom: 25px;}
.toolbar .sorter .sort-by select, .toolbar .sorter .pager select { padding: 8px 7px;}
.all-search-cats select { border: none;}
.rating-links { margin: 0;}
.product.grid .details { min-height: 98px !important;}
#narrow-by-list #Price { padding: 15px 8px;}

.more-less {padding-left: 15px; font: 13px strong;}
.more-less a{color: #2d2e32; cursor: pointer;}


