.product-view .product-shop .product-name .h1 {
font-size: 22px;color: rgb(48, 48, 48);font-weight: bold;margin: 0 0 12px 0;padding: 0;}
.mainhead .reasonsnav ul li img,.mainheadnav .minicart a img{display:inline-block;}
/*.mainheadnav .searchform #search{width:61%;font-family:inherit;}*/
.maincontainer .filters ul li a{text-decoration:none;}
.maincontainer .filters ul li .currently p{margin-bottom:0;}
.maincontainer .filters ul li .currently ul{list-style-type:none;}
.maincontainer .filters ul li .currently ul li:first-child{padding-top:0;border-top:0;}
.maincontainer .filters ul li .currently ul li:last-child{padding-bottom:0;}
.maincontainer .filters ul li .currently ul li{border-bottom:0;border-top:1px solid #eaeaea;}
.maincontainer .filters ul li .currently .btn-remove{color:#f57a20;display:block;padding:5px 0;}
.maincontainer .filters ul li .currently .label{color:rgb(48,48,48);padding-left:0;font-size:14px;}
.maincontainer .filters ul li .currently .value{font-size:12px;}
.maincontainer .filters ul li.actions a{text-decoration:underline;}
.maincontainer .filters ul li.range-price{border-bottom:0;padding:15px 0px 0;}
.maincontainer .filters ul li.range-price i{font-style:normal;}
.cart_table .label{padding:0 5px 0 0;color:rgba(48,48,48,1);font-size:12px;}
.checkout-types.bottom{list-style-type:none;text-align:right;}
.checkout-types.bottom li{display: inline-block;vertical-align:top;}
.checkout-types.bottom li.method-checkout-cart-methods-multishipping{display:none;}
body.customer-account .block-account{padding:15px 0 0;}
body.customer-account .block-account ul li a{text-transform:uppercase;}
.col2-set{clear:both;}
.col2-set .col-1,.col2-set .col-2{width:50%;float:left;display:inline-block;vertical-align:top;
margin:15px 0;}
.account-login .col-2.registered-users{padding-left:20px;border-left:1px solid #eaeaea;}
body.customer-account .my-account .box-info{border-bottom:1px solid #eaeaea;margin-bottom:15px;}
body.customer-account .my-account .box-info:last-child{border-bottom:0;}
.page-title{margin-top:15px;}
.page-title h1,.scaffold-form h2,h2.legend,.product-review .product-details h2{
font-size:24px;color:#202020;font-weight:300;font-family:'GothamNarrow-Bold', sans-serif;
margin-bottom:15px;}
.scaffolf-form,.form-list{font-family:'GothamNarrow-Book', sans-serif;}
.scaffold-form h2,h2.legend,.product-review .product-details h2{
border-bottom:1px solid #eaeaea;line-height:2;font-size:18px;text-transform:uppercase;}
.scaffold-form p.required{color:#F52020;}
.form-list{list-style-type:none;}
.form-list li{width:100%;margin-bottom:15px;}
.form-list li > div,.form-list li.fields{display:inline-table;width:100%;}
.form-list li > div > .field,.form-list li.fields .field{display:table-cell;padding-right:15px;}
.form-list li > div > .field:last-child,
.form-list li.fields .field:last-child{padding-right:0;}
.form-list li.fields .field{width:auto;}
.form-list li label{padding:10px 0px;font-size:14px;font-weight:600;text-transform:uppercase;}
.form-list li label.required em{color:#F52020;padding:5px 5px 5px 0;}
.form-list li .input-box input,.form-list li .input-box select{
outline:none;padding:8px 12px;font-size:14px;width:100%;border-radius:2px;color:#555;
border:1px solid #eaeaea;}
.form-list li .input-box input:focus,.form-list li .input-box select:focus{border:1px solid #aaa;}
.form-list li.control input,.form-list li.control label{
display:inline-block;padding:5px 10px;vertical-align:top;}
.scaffold-form a,.buttons-set a{color:#f57a20;}
.scaffold-form a:hover,.buttons-set a:hover{color:#303030;}
.buttons-set button{font-size:12px;}
.no-display{display:none;}
.account-login .page-title{border-bottom:1px solid #eaeaea;text-transform:uppercase;margin-top:50px;}
.account-login .col2-set{clear:both;}
.account-login .col2-set .col-1,.col2-set .col-2{}
.account-login .scaffold-form h2,.addresses-list h2{border-bottom:0;margin-bottom:0;
font-family:'GothamNarrow-Medium', sans-serif;}
form .form-instructions{font-style: italic;font-size:13px;color: #999;}
.customer-account-login .col2-set .col-1 ul{list-style:square;padding-left:20px;margin:10px 0 20px 0;}
.customer-account-login .col2-set .col-1 ul li{line-height:1.5;font-size:16px;}
.remember-me-box a.hide {display: none;}
.remember-me-box .link-tip{font-size:13px;padding-left:10px;}
.remember-me-popup{display:none;border:1px solid #cccccc;padding:10px;position:relative;
margin-bottom:10px;}
.remember-me-popup.show {display: block;}
.remember-me-popup .remember-me-popup-close{position:absolute;top:0;right:0;padding:10px;font-size:12px;}
.remember-me-popup .remember-me-popup-close-button{display:none;}
.remember-me-popup-head h3,td.customer-wishlist-item-info h3{line-height:1.5;font-weight:600;
margin-bottom:10px;}
.remember-me-popup-head p{margin-bottom:5px;}
#my_recent_reviews{list-style-type:none;}
#my_recent_reviews li{margin-bottom:25px;border-bottom:1px solid #eaeaea;padding-bottom:15px;}
li.item{margin-bottom:15px;}
li.item .details{display:inline-block;}
li.item .number{display:inline-block;vertical-align:top;background-color:#f57a20;padding:3px 8px;
color:#fff;font-size:12px;}
body.customer-account .data-table,#checkout-step-review .data-table,#orders-report-table.data-table{width:100%;font-size:12px;
margin:15px 0;}
body.customer-account .data-table th,.customer-account .data-table td,#checkout-step-review .data-table th,#checkout-step-review .data-table td,#orders-report-table.data-table th,#orders-report-table.data-table td{padding: 10px 15px;background-color: #333;color: #fff;vertical-align: middle;font-size:12px;border: 1px solid #eaeaea;text-align:center;
vertical-align:middle;}
body.customer-account .data-table td,#checkout-step-review .data-table td,#orders-report-table.data-table td{background-color:transparent;color:#303030;}
.data-table a,.addresses-list a{color:#f57a20;}
.data-table a:hover,.addresses-list a:hover{color:#303030;}
.data-table .price{font-size:inherit;color:inherit;}
body.customer-account .data-table th{font-size:14px;}
body.customer-account .data-table th.ship{width:100px;}
body.customer-account .data-table td.total .price{font-size:12px;}
body.customer-account .data-table td.status{color:#8c8d8e;}
body.newsletter-manage-index .my-account .fieldset h2{display:none;}
.addresses-list{font-size:14px;}
.addresses-list h2{margin-bottom:15px;}
.addresses-list ol{list-style-type:none;}
.addresses-list address{font-size:14px;}
.count-container{text-align:right;}
.count-container p,.count-container .limiter{display:inline-block;vertical-align:middle;
margin-bottom:0;padding-right:10px;}
.data-table.clean-table td.customer-wishlist-item-info{text-align:left;}
td.customer-wishlist-item-info h3{font-size:16px;margin-bottom:10px;}
td.customer-wishlist-item-info .wishlist-sku{font-weight:600;}
td.customer-wishlist-item-info .description.std{line-height:1.5;margin:5px 0 10px;}
td.customer-wishlist-item-info textarea,td.customer-wishlist-item-quantity input{outline:none;
padding:8px 12px;font-size:14px;width:100%;border-radius:2px;color:#555;
border:1px solid #eaeaea;margin-bottom:10px;}
td.customer-wishlist-item-quantity input{width:50px;text-align:center;height:40px;}
td.customer-wishlist-item-price,td.customer-wishlist-item-cart{width:115px;}
td.customer-wishlist-item-price p.old-price{text-decoration:line-through;width:100%;}
td.customer-wishlist-item-price .special-price{width:100%;}
td.customer-wishlist-item-price .price-label{font-weight:600;}
.data-table.clean-table .button{text-transform:none;}
td.customer-wishlist-item-price .price{font-size:inherit;}
#checkout-step-review .data-table .price{font-size:inherit;color:inherit;}
#checkout-step-review .data-table .product-name{text-align:left;font-size:14px;margin-bottom:0;}
#checkout-step-review .data-table .a-right{text-align:right;}
#checkout-step-review .data-table th:first-child{text-align:left;}
div.price-slider{height:10px !important;background-color:#e3e3e3 !important;
background-image:none !important;}
.products .product.grid .ratingstopdetail{margin-bottom:0;}
div.price-slider .price-slider-from{top:-3px;background-color:#f57a20 !important;
background-image:none !important;}
div.price-slider .price-slider-to{margin-top:-20px !important;background-color:#f57a20 !important;
background-image:none !important;}
.product-review{}
.product-review .product-img-box,.product-review .product-details,.ratings .rating-box,
.ratings .reviewscounttop,.order-info dt,.order-info dd,.discount-form label,.discount-form .button-wrapper,.discount-form .field-wrapper{display:inline-block;vertical-align:top;}
.product-review .product-img-box{width:30%;margin-bottom:20px;} 
.product-review .product-details{width:69%;padding-left:15px;margin-bottom:20px;}
.product-review .product-img-box .product-image{display:block;padding:5px;border:1px solid #eaeaea;}
.product-review .product-img-box .product-image img{max-width:100%;}
.product-review .product-img-box .label{padding:10px 0 0;display: block;text-align: left;
white-space:normal;margin-bottom:10px;font-size:80%;color:#303030;}
.ratings .reviewscounttop{font-size:12px;color:#999;font-style:italic;padding:3px;}
.product-review .product-details h3{font-size:14px;font-weight:600;line-height:1.5;}
.ratings-table{margin:5px 0 10px;font-size:14px;}
.ratings-table th{padding:0px 5px 0 0;vertical-align: top;}
.ratings-description dt,.order-info dt{font-size:14px;line-height:1.5;}
.ratings-description dd{font-size:12px;line-height:1.5;}
.validation-advice{margin:5px 0; color:red;}
p.required{color:red;}
.order-info{margin:5px 5px 5px 0;}
.order-info ul{list-style-type:none;font-size:12px;margin:2px;}
.order-date{font-size:12px;color:#555;margin-bottom:10px;}
.separator{color:#eaeaea;}
.shopbybrand-list .filterbar,.shopbybrand-list .brands{/*display:none;*/}
.shopbybrand-list .brands li{width:20%;padding:3px;border:1px solid #eee;margin:0 !important;height:auto;}
.shopbybrand-list .brands li a{display:block;background-color:#f6f6f6;padding:15px;height:65px;}
.shopbybrand-list .brands li a:hover{background-color:#303030;color:#fff;}
.shopbybrand-list .brands li a .box{max-width:100%;width:auto;font-size:14px;}
.shopbybrand-list .brands li a:hover .box{color:#fff;}
.shopbybrand-list .featuredbrands{margin-top:0 !important;}
.shopbybrand-list .ca-container{margin:40px auto;width:100% !important;height:auto;}
.shopbybrand-list .ca-container .ca-item{height:auto;margin-bottom:20px;max-width:190px;
text-align:left;}
.shopbybrand-list .ca-container .ca-item-main a{max-height:70px;display:block;overflow:hidden;}
.discount-form{margin-top:0px;position:relative;width:50%;}
.discount-form label{text-transform:uppercase;padding-right:5px;padding-top:10px;}
.discount-form .input-text{outline:none;padding:8px 12px;font-size:14px;width:50%;border-radius:2px;
color:#555;border:1px solid #eaeaea;margin-bottom:10px;height:36px;}
.amxnotif-block{position:relative;margin-bottom:25px;}
.discount-form .validation-advice,.amxnotif-block .validation-advice{position:absolute;top:38px;}
.amxnotif-block .validation-advice{top:45px;font-size:12px;}
.discount-form .btn1{font-size:12px;}
.shopbybrand-list .shopbybrand-title{border-bottom:1px solid #e3e3e3;}
.shopbybrand-list .shopbybrand-title h1{font-size:22px;color:#202020;font-weight:400;
text-transform:uppercase;display:inline-block;height:40px;border-bottom:1px solid #f57a20;
padding:5px 25px 5px 0;font-family:'GothamNarrow-Medium','Open Sans', sans-serif;}
body.cms-index-index .zopim{display:none;}
.search-autocomplete{z-index: 999999;background-color: #fff;}
.search-autocomplete ul,.add-to-links{list-style-type:none;}
.search-autocomplete ul li{padding:5px 10px;border:1px solid #eaeaea;font-size:12px;
box-shadow:0 2px 5px 0 rgba(0,0,0,0.2);}
.search-autocomplete ul li .amount{background-color:#f57a20;color:#fff;display:inline-block;
padding:2px 5px;margin-right:5px;font-size:12px;}
.search-autocomplete ul li .amount:after{content:' Results';}
.compare-products{padding:20px;font-size:12px;line-height:1.5;padding-top:0; }
.compare-products a,.suggestpage-activity a,.listing-suggest .product-name a:hover{color:#f57a20;}
.compare-products a:hover,.suggestpage-activity a:hover{color:#303030;}
.compare-products .compare-table{border:1px solid #eaeaea;,}
.compare-products .compare-table th{background-color:#eaeaea;min-width:100px;padding:10px;
border:1px solid #dadada;font-family:"GothamNarrow-Medium",sans-serif;font-weight:400;}
.compare-products .compare-table td{padding:10px;border:1px solid #eaeaea;}
.compare-products .compare-table p,.compare-products .compare-table .ratingstopdetail{
margin-bottom:5px;}
.compare-products .compare-table td li{margin-left:15px;}
.compare-products .compare-table .product-name{font-size:16px;margin-bottom:10px;}
.compare-products .compare-table .add-to-links li{margin:0;}
.mini-products-list a,.mini-products-list .product-details,.price-box .old-price,
.price-box .special-price{display:inline-block;vertical-align:top;}
.mini-products-list .product-details{margin-top:2px;max-width:198px;}
.suggestpage-activity{border:0;}
.suggestpage-activity ol{list-style-type:none;}
.suggestpage-activity .product-image,.suggestpage-activity .product-details{padding:10px;}
.suggestpage-activity .product-image{background-color:#fff;border:1px solid #eaeaea;}
.suggestpage-activity .product-details{margin-top:0px;max-width:80%;}
.suggestpage-activity p{margin-bottom:5px;}
.suggestpage-activity .price{font-size:inherit;}
.suggestpage-activity .product-details input{font-size:12px;padding:5px;border:1px solid #eaeaea;
width:40px;text-align:center;}
.suggestpage-activity .cartinfo{background-color:#eaeaea;border:1px solid #e3e3e3;border-radius:2px;}
.listing-suggest .products-grid{margin-top:20px;}
.listing-suggest .products-grid .product.grid{height:auto;min-height:330px;}
.account-create .form-list{width:50%;}
.listing-suggest .products-grid .product-image{width:100%;height:200px;}
.price-box .old-price,.price-box .special-price{width:49%;}
.price-box .price-label{font-weight:600;}
.price-box .old-price .price{text-decoration:line-through;}
.products .product .bottom-area{padding:15px;}
.listing-suggest .product-name{margin-bottom:15px;}
.listing-suggest .product-name a{font-size:18px;color:#303030;line-height:1.5;}
.listing-suggest .price{font-size:inherit;}
.modalstyles{padding:50px;text-align:center;}
.modalstyles .title,.modalstyles .title-deals{font-size:55px;
font-family:'lato','GothamNarrow-Bold',sans-serif;text-transform:uppercase;}
.modalstyles .title-deals{max-width:460px;font-weight:600;margin-top:50px;margin-left:11px;
font-family:'lato-black','GothamNarrow-Bold',sans-serif;}
.modalstyles.deals{background-image:url(../images/deals-title.png);background-repeat:no-repeat;
background-position:0 0;}
.modalstyles hr{max-width:30%;width:100%;margin:5px auto 25px;position:relative;border:0;
border-bottom:1px solid #e7e7e7;}
.modalstyles hr:before,.modalstyles hr:after{content:'';position:absolute;display:block;width:30px;
top:-1px;height:2px;background-color:#e7e7e7;left:40%;}
.modalstyles hr:after{top:2px;}
.modalstyles p{color:#5a5f65;text-transform:uppercase;font-size:14px;margin-bottom:5px;}
.modalstyles input{border:1px solid #eaeaea;display:block;padding:15px 20px;font-size:14px;
line-height:1;outline:none;width:100%;margin-bottom:15px;}
.modalstyles .btn1{display:block;width:100%;border-radius:3px;text-transform:uppercase;font-size:14px;
padding:15px 20px;}
.modal{z-index:99999;}
.label{color:inherit;}
.block{width:100%;margin-bottom:20px;border:1px solid #eaeaea;}
.block .block-title{background-color:#2d2e32;padding:10px 15px;display:block;color:#fff;
font-family: 'GothamNarrow-Bold','open-sans',sans-serif;font-size:16px;text-transform: uppercase}
.block .block-content{}
.block .block-content ul{list-style-type:none;margin:0;padding:0;}
.block .block-content ul li,.block .block-content .actions,.block .block-subtitle{padding:12px 15px;
border-bottom:1px solid #eaeaea;font-size:13px;margin:0;}
/*.block .block-content ul li.last,*/.block .block-content ul li .actions{border-bottom:0;}
.block .block-content ul li a{color:#2d2e32;font-size:13px;}
.block .block-content ul li a:hover{color:#f57a20;}
.block .block-content ul li label{color:#303030;text-transform:uppercase;
font-family: 'GothamNarrow-Book', sans-serif;font-size:12px;font-weight:100;cursor:pointer;}
.block .block-content ul li label a+a{display:inline-block;vertical-align:top;max-width:82%;	}
.block .block-content ul li label input{padding-right:15px;display:inline-block;width:25px;
height:13px;vertical-align:middle;margin-top:0px;}
.block .block-content input[type=checkbox],.block .block-content input[type=radio]{margin:0;
display:inline-block;}
.listing-suggest .product-image img{max-height:200px;width:auto;}
#search_mini_form .input-box label{display:none;}
#itoris_instantsearch_categories_filter{width:200px;font-size:14px;top:8px;}
#search_mini_form #search{/*left:212px;text-indent: 0 !important;*/}
#search_mini_form #itoris_instantsearch_autocomplete{left: 212px !important;}
#search_mini_form #itoris_instantsearch_categories_dropdown{left:0px !important;width:210px;top:10px;
font-size:14px;}
#search_mini_form #itoris_instantsearch_categories_dropdown option{line-height:1.5;}
#search_mini_form #itoris_instantsearch_categories{left:5px !important;position: relative;}
#search_mini_form button.search-button{position:relative;display:inline-block;left:170px;}
#search_mini_form #itoris_instantsearch{left:212px !important;}
#search_mini_form #itoris_instantsearch .itoris_instantsearch_product{margin:0;padding:12px 5px 20px;
border-top: 1px solid #eaeaea;}
#search_mini_form #itoris_instantsearch .itoris_instantsearch_product:hover{background-color:#f8f8f8;}
#search_mini_form #itoris_instantsearch .itoris_instantsearch_product_description,
#search_mini_form #itoris_instantsearch .itoris_instantsearch_article_description{font-family:inherit;
font-size:11px;color:#303030;margin:5px 0;}
#search_mini_form .itoris_instantsearch_suggestions,.tags-list.list-only{list-style-type:none;}
#search_mini_form #itoris_instantsearch .itoris_instantsearch_keywords .itoris_instantsearch_keyword{
font-weight:400;font-family:inherit;display:inline-block;min-width:50%;padding:3px 5px;
margin-bottom:4px;text-decoration:none;}
#search_mini_form #itoris_instantsearch .itoris_instantsearch_keywords span,
#search_mini_form #itoris_instantsearch .itoris_instantsearch_category{font-weight:600;}
#search_mini_form #itoris_instantsearch .itoris_instantsearch_close{display:none;}
body.cms-index-index .messages{position:absolute;bottom:-170px;}
.block.block-compare + .block.block-compare{display: none;}
.block.block-tags .actions a{background-color:#f57a20;padding:7px 15px;font-size:12px;line-height:1.5;
color:#fff;margin:5px 0;display:inline-block;}
.block.block-tags .actions a:hover{background-color:#303030;color:#fff;}
.tags-list.list-only{margin-top:20px;}
.tags-list.list-only li{display:inline-block;vertical-align:top;padding:5px 8px;
border:1px solid #eaeaea;margin:2px;background-color:#303030;}
.tags-list.list-only li a{color:#fff;}
.tags-list.list-only li:hover,.tags-list.list-only li:hover a{color:#fff;background-color:#f57a20;}
.product-options .options-list li .label{font-size:14px;font-weight:300;padding:0;margin:0;}
.product-options .options-list li .label label{font-weight:300;display:block;padding:4px 8px;}
.product-options .options-list li .label .price{font-size:inherit;color:inherit;font-weight:inherit;}
.toolbar .sorter .pagination{display:none;}
.toolbar-bottom .toolbar .sorter .pagination{display:inline-block;}
.dashboard .welcome-msg,.dashboard .welcome-cs{display:inline-block;width:49%;vertical-align:top;}
.dashboard .welcome-cs{padding:15px 20px;float:right;background-color:#333;}
.dashboard .welcome-cs p{color:#fff;margin-bottom:5px;}
.dashboard .welcome-cs a:hover{color:#f57a20;}
.nav-tabs>li>a{display:block !important;}
/** Faq **/
.__faq h1 { font-size: 22px; color: rgb(48, 48, 48); margin-bottom: 24px; font-weight: bold; }
.__faq .__recent__faq { padding: 0; margin: 0 0 30px 0; }
.__faq .__recent__faq h2 { background-color: rgb(45, 46, 50); font-size: 16px; color: rgb(255, 254, 254); font-weight: bold; text-transform: uppercase; padding: 16px; }
.__faq .__recent__faq ul { margin: 0 0 0 0; padding: 12px 0 0 0; border: 1px solid rgb(234, 234, 234); border-top: 0; list-style: none; }
.__faq .__recent__faq ul li { padding: 12px 18px; border-bottom: 1px solid rgb(234, 234, 234); }
.__faq .__recent__faq ul li:nth-last-child(1) { border-bottom: 0; }
.__faq .__recent__faq ul li a { margin: 0; padding: 0; font-size: 14px; color: rgb( 90, 95, 101); }
.__faq .__recent__faq ul li a:hover { color: rgb(245, 122, 32); }
.__faq .__faq__search .form-group { position: relative; }
.__faq .__faq__search .form-control { border-style: solid; border-width: 1px; border-color: rgb(231, 231, 231); border-radius: 4px; background-color: rgb(246, 246, 246); box-shadow: none; padding: 24px 56px 24px 18px; font-size: 16px; color: rgba( 32, 32, 32, 0.4); }
.__faq .__faq__search button { position: absolute; top: 8px; left: auto; right: 4px; border: 0; background-color: rgba(0, 0, 0, 0); line-height: 35px; padding: 0 12px; border-left: 1px solid rgb(234, 234, 234); color: rgb(205, 205, 205); }
.__faq .tab-content { padding: 12px 0 0 0; border: 1px solid rgb(236, 236, 236); border-top: 0; }
.__faq .panel-group .panel { border: 0; border-radius: 0; background-color: rgba(0, 0, 0, 0); }
.__faq .panel-default>.panel-heading { border: 0; border-radius: 0; border-color: rgba(0, 0, 0, 0); background-color: rgba(0, 0, 0, 0); }
.__faq .panel-group .panel+.panel { margin-top: 0; }
.__faq .panel-group { margin-bottom: 0px; }
.__faq .nav-tabs { background-color: rgb(246, 246, 246); border: 1px solid rgb(236, 236, 236); font-size: 14px; color: rgb( 90, 95, 101); }
.__faq .nav-tabs > li > a:before, .__faq .nav-tabs > li.active > a:before { content: ""; display: block; border: 0; padding: 0; margin-bottom: 6px; height: 32px; width: 24px; margin: auto auto 6px; background-repeat: no-repeat; background-position: 0 0; }
.__faq .nav-tabs > li > a[aria-controls="order"]:before { background-image: url('../images/order.png'); }
.__faq .nav-tabs > li > a[aria-controls="order"]:hover:before, .__faq .nav-tabs > li.active > a[aria-controls="order"]:before { background-position: 0 -30px; }
.__faq .nav-tabs > li > a[aria-controls="wallet"]:before, .__faq .nav-tabs > li.active > a[aria-controls="wallet"]:before { height: 26px; width: 36px; margin-bottom: 12px; }
.__faq .nav-tabs > li > a[aria-controls="wallet"]:before { background-image: url('../images/wallet.png'); }
.__faq .nav-tabs > li > a[aria-controls="wallet"]:hover:before, .__faq .nav-tabs > li.active > a[aria-controls="wallet"]:hover:before { background-position: 0 -26px; }
.__faq .nav-tabs > li > a[aria-controls="shopping"]:before, .__faq .nav-tabs > li.active > a[aria-controls="shopping"]:before { height: 26px; width: 36px; margin-bottom: 12px; }
.__faq .nav-tabs > li > a[aria-controls="shopping"]:before { background-image: url('../images/shopping.png'); }
.__faq .nav-tabs > li > a[aria-controls="shopping"]:hover:before, .__faq .nav-tabs > li.active > a[aria-controls="shopping"]:hover:before { background-position: 0 -26px; }
.__faq .nav-tabs > li > a[aria-controls="payment"]:before, .__faq .nav-tabs > li.active > a[aria-controls="payment"]:before { height: 25px; width: 36px; margin-bottom: 13px; }
.__faq .nav-tabs > li > a[aria-controls="payment"]:before { background-image: url('../images/payment.png'); }
.__faq .nav-tabs > li > a[aria-controls="payment"]:hover:before, .__faq .nav-tabs > li.active > a[aria-controls="payment"]:hover:before { background-position: 0 -25px; }
.__faq .nav-tabs > li > a[aria-controls="shipping"]:before, .__faq .nav-tabs > li.active > a[aria-controls="shipping"]:before { height: 30px; width: 36px; margin-bottom: 9px; }
.__faq .nav-tabs > li > a[aria-controls="shipping"]:before { background-image: url('../images/shipping.png'); }
.__faq .nav-tabs > li > a[aria-controls="shipping"]:hover:before, .__faq .nav-tabs > li.active > a[aria-controls="shipping"]:hover:before { background-position: 0 -30px; }
.__faq .nav-tabs > li > a[aria-controls="refund"]:before, .__faq .nav-tabs > li.active > a[aria-controls="refund"]:before { height: 23px; width: 35px; margin-bottom: 15px; }
.__faq .nav-tabs > li > a[aria-controls="refund"]:before { background-image: url('../images/refund.png'); }
.__faq .nav-tabs > li > a[aria-controls="refund"]:hover:before, .__faq .nav-tabs > li.active > a[aria-controls="refund"]:hover:before { background-position: 0 -23px; }
.__faq .nav>li>a { margin: 0; padding: 10px 30.42px; border: none; font-size: 14px; color: rgb( 90, 95, 101); text-align: center; }
.__faq .nav>li>a:focus, .__faq .nav>li>a:hover, .__faq .nav-tabs>li.active>a, .__faq .nav-tabs>li.active>a:focus, .__faq .nav-tabs>li.active>a:hover { border: 0; border-radius: 0; border-color: rgba(0, 0, 0, 0); background-color: rgb(45, 46, 50); color: rgb(255, 255, 255); }
.__faq .help-block { font-size: 12px; color: rgb(193, 193, 193); margin: 0 0 24px 0; padding: 0; }
.__faq h2 { font-size: 18px; color: rgb(48, 48, 48); font-weight: bold; text-transform: uppercase; margin-bottom: 16px; }
.__faq h3 { font-size: 18px; color: rgb(48, 48, 48); font-weight: bold; text-transform: uppercase; margin: 48px 0 18px 0; }
.__faq .panel-body p, .__faq .panel-body { line-height: normal; font-size: 13px; }
.__faq .panel-title { font-size: 14px; color: rgb( 87, 87, 87); }


@media only screen and (max-width : 800px){
body.cms-index-index .messages{position:relative;bottom:inherit;}
.data-table{display:block;}
.data-table thead,.data-table tbody,.data-table tfoot,.data-table tr,.data-table td,.data-table th{
display:block;}
.data-table tr{background-color:#fff;}
.data-table th{height:auto;}
.cart_table td.delivery{max-width:100%;text-align:center;}
.cart_page{margin-top:-30px;}
.cart_table thead,.cart_table .item-detail ul li,.cart_table td.delivery,
.cart_table td.sub-total,.cart .cart_summary .buyerprotection{display:none;}
.cart .cart_summary tbody,.cart .cart_summary tr{display:block;}
.cart .cart_table td{border:0;border-bottom:1px solid #eaeaea;}
.cart table.sub_summary td{width:49%;display:inline-block;vertical-align:middle;}
.cart table.sub_summary td{font-size:14px;padding-left:2px;padding-right:2px;}
.cart table.sub_summary .price{font-size:14px;color:#303030;}
.cart table.sub_summary td:last-child{text-align:right;}
.cart_table tr{position:relative;}
.cart_table td.qty,.cart_table td.product_price{position:absolute;padding:0;top:48px;left:25%;border:0;
padding-left:20px;}
.cart_table .img-box img{max-height:100px;}
.cart_table .item-detail a.remove{bottom:-16px;right:-12px;}
.cart_table td.product_price{top:90px;}
.cart_table td.product_price .cart-price .price{color:#f57a20;font-weight:600;}
.cart_page .btn2{font-size:10px;padding:8px 14px;}
.cart_table td.qty input{padding:8px 5px;font-size:10px;}
.cart .checkout-types.bottom li:nth-child(1),.cart .checkout-types.bottom li:nth-child(2){
display:block;}
.cart .checkout-types.bottom li .btn1-alt,.cart .checkout-types.bottom li .btn1{display:block;
width:100%;margin:10px 0;}
.account-create .form-list{width:inherit;}
.col2-set .col-1, .col2-set .col-2{width:100%;}
.account-login .col-2.registered-users{padding-left:0;border-left:0;}
.buttons-set{margin-bottom:20px;}
.cms-index-index #MainCatMenu{display:none !important;}
table.cart_summary,.buyerprotection{background-color:#fff;}
.buyerprotection{margin-bottom:20px;}
table.cart_summary td{display:block;width:100%;}
.cart table.cart_summary{padding:0;background-color:transparent;}
.checkout-types.bottom{text-align:left;}
.discount-form{margin:5px 0;}
}
