/*custom css*/
#auguria-slider { float: right; margin: 0 !important;}
.caption { display: none !important;}
ul.pagination {
	 float: left;
	 padding: 0; margin: 0;
	 position: relative; top: -25px;
	 z-index: 100;
	 left: 34px;
 }
ul.pagination li a { background: none; border: none; height:10px; width: 10px; font-size: 0px; display: inline-block; padding: 0; margin: 0;}
ul.pagination li a:hover {background: none; border: none;}
ul.pagination li { border: none; background: #909090; height: 10px; width: 10px;}
ul.pagination li.current { background: #f57a20;}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
background: none; border: none; height:10px; width: 10px;}
#ads { padding: 9px 0 60px 0;}


.maincontainer section#menuslider{position:relative;z-index:100;}
/*.cms-index-index .std > div { padding: 0; margin: 0; line-height: 0px;}*/

.seachfield { border-left: 1px solid #c7c7c7 !important;}
.mainheadnav .searchform .search-category-select, .mainheadnav .searchform .search-category-select button { width: 100% !important;}
.subscribe .button.btn1 { margin: -5px 0 0 -5px} 

.nav-container {position:relative;top:50px;width:100%;}
#custommenu {/*position: absolute; float: left; top: 0; z-index: 5;*/width: 100%;}
#custommenu .menu { clear: both;}
.cms-index-index #MainCatMenu { display: block !important;}
a.level2:hover, a.level2.act, a.level2.actParent {
    color: #f57a20 !important;
}
a.level1:hover, a.level1.act, a.level1.actParent { color: #f57a20 !important;}
#breadcrumbs { margin-bottom: 25px;}
.toolbar .sorter .sort-by select, .toolbar .sorter .pager select{padding:6px 7px;height:35px;}
.all-search-cats select{border:none;}
.rating-links{margin:0;}
.product.grid .details{min-height:60px !important;}
#narrow-by-list #Price{padding:15px 8px; position:relative;z-index:9999;}

.more-less {padding-left: 15px; font: 13px strong;}
.more-less a{color: #2d2e32; cursor: pointer;}
.catalog-product-view .btn.disabled, .btn[disabled], fieldset[disabled] .btn { /*opacity: 1 !important;*/ background-color: #f57a20 !important; }

/* -------------------------------------------- *
 * Messages
 */
.success {
  color: #11b400;
}

.error {
  color: #df280a;
  font-weight: bold;
}

.notice {
  color: #e26703;
  font-weight: bold;
}

/* -------------------------------------------- *
 * Messages
 */
.messages {
  margin-bottom: 10px;
}

.messages li li {
  position: relative;
  margin-bottom: 5px;
  padding: 7px 10px 7px 20px;
  background: #f4f4f4;
  font-size: 15px;
}

.messages li li:before {
  top: 50%;
  left: 0;
  margin-top: -6px;
}

.messages .error-msg li {
  color: black;
  border-left: 5px solid #df280a;
  background-color: #faebe7;
}

.messages .error-msg li:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #df280a;
  border-right: none;
}

.messages .notice-msg li {
  color: black;
  border-left: 5px solid #e26703;
  background-color: #f9ebe6;
}

.messages .notice-msg li:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #e26703;
  border-right: none;
}

.messages .success-msg li {
  color: black;
  border-left: 5px solid #11b400;
  background-color: #eff5ea;
}

.messages .success-msg li:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #11b400;
  border-right: none;
}
ul.messages li { list-style: none !important;}
.catalog-product-view .ratingstarts  {display: inline-block; float: left; }
.catalog-product-view .reviewscounttop  { display: inline-block; font-size: 12px; font-style: italic; color: #999; padding: 8px;}
.catalog-product-view a.wrireyourreviews  { display: inline-block; font-size: 12px; font-style: italic; color: #999;/* padding: 8px;*/}
.catalog-product-view span.reviewessperator { display: inline-block; font-size: 12px; color: #999; }

.catalog-category-view .reviewscounttop { display: none;} 
.catalog-category-view a.wrireyourreviews  { display:none;}
.catalog-category-view span.reviewessperator {  display:none; }
.catalog-product-view .userstarratting th { display: none;}
.catalog-product-view .userstarratting .rating {}

/*.rating-box {
background: url("../images/bkg_rating.gif") repeat-x;
font-size: 0;
height: 13px;
line-height: 0;
overflow: hidden;
text-indent: -999em;
width: 70px;
}
 
.rating-box .rating {
background: url("../images/bkg_rating.gif") repeat-x;
background-position: 0 100%;
float: left;
height: 13px;
}
*/



/* rating star */
/*.ratings { font-size:11px; line-height:1.25; margin:7px 0; }
.ratings strong { float:left; margin:1px 3px 0 0; }
.rating-box { width:69px; height:13px; font-size:0; line-height:0; background:url(../images/bkg_rating.gif) 0 0 repeat-x; text-indent:-999em; overflow:hidden; }
.rating-box .rating { float:left; height:13px; background:url(../images/bkg_rating.gif) 0 100% repeat-x; }
.ratings .rating-box { float:left; margin-right:3px; }
*/


.rating { margin-top: 0  !important;}
.rating-input {
	display: none;
}
 
.rating-star {
	float: right;
	display: block;
	width: 15px !important; /* just to be fast here*/
	height: 13px;
	background: url(../images/star_empty.png);
}
 
.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
	background: url(../images/star_full.png);
}
 
.rating-star:hover {
	cursor: pointer;
}
 
.data-table.table-ratings {
	width: auto;
	border: 0;
}
 
.data-table.table-ratings th {
	width: 80px;
	line-height: 20px;
	text-align: left;
	padding: 10px 0;
}
 
.data-table.table-ratings td {
	width: 100px;
	padding: 9px 0;
}
 
/*Rating stars when displaying reviews (in product page and profile)*/
.ratings-table .rating-box,
.ratings .rating-box,
.ratings-table .rating-box .rating,
.ratings .rating-box .rating {
	background-size: 15px;
	background-repeat: repeat-x;
	background-position: 0 1px;
}
 
.ratings-table .rating-box,
.ratings .rating-box {
	background-image: url(../images/star_empty.png);
}
 
.ratings-table .rating-box .rating,
.ratings .rating-box .rating {
	background-image: url(../images/star_full.png);
}
#my-reviews-table .rating-box .rating {
	background-image: url(../images/star_full.png);

} 
.ratings-table .rating-box,
.ratings .rating-box {
	height: 15px;
	width: 74px;

}
 
.ratings-table .rating-box .rating,
.ratings .rating-box .rating{
	height: 20px;
}

.reviewsbottomtable { width: 100%;}
.reviewsbottomtable th { width:50% !important;}
.reviewsbottomtable td { width:50% !important;}
.boxrating_topStars { display: inline-block;}
.ratingstopdetail { margin-bottom: 15px;}
.__reviews__section textarea, .__reviews__section input[type="text"] { padding: 10px 12px !important}

.extension-index-ourcollection .view-mode  { display: none !important;}

/*div.zoomContainer{display:none;}*/
.grouped-items-table-wrapper{}
.back-link{text-align:right;}

#cart-sidebar-reorder .product-name {}
#cart-sidebar-reorder .product-name a { float: left; width: 90%;}
#cart-sidebar-reorder .product-name input {  float: left; width: 10%;}
.dashboard.cms_template ul {margin-left: 0;}
.maincontainer .sectiontitle{/*margin-top: 20px;*/}



/* JCF Custom Forms (custom select styles) */
#search_mini_form .jcf-select {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: 1px solid #777;
  background: #fff;
  margin: 0 0 12px;
  min-width: 150px;
  height: 26px;
}
#search_mini_form .jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}
#search_mini_form .jcf-select .jcf-select-text {
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 13px;
  line-height: 26px;
  margin: 0 35px 0 8px;
  cursor: pointer;
}
#search_mini_form .jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  background: none;
  width: 26px;
  bottom: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}
body > #search_mini_form .jcf-select-drop {
  position: absolute;
  margin: -1px 0 0;
  z-index: 9999;
}
body > #search_mini_form .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}
#search_mini_form .jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 36px;
  left: -1px;
  right: -1px;
  width: 230px !important;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
#search_mini_form .jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}
/* multiple select styles */
#search_mini_form .jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}
/* select options styles */
#search_mini_form .jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 14px;
  font-size: 12px;
  width: 100%;
}
#search_mini_form .jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
  max-height: 430px !important;
}
#search_mini_form .jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#search_mini_form .jcf-list ul li {
  overflow: hidden;
  display: block;
}
#search_mini_form .jcf-list .jcf-overflow {
  overflow: auto;
}
#search_mini_form .jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  display: block;
  padding: 9px 9px 9px 18px;
  height: 1%;
}
#search_mini_form .jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}
#search_mini_form .jcf-list-content li.selected,
#search_mini_form .jcf-select-drop .jcf-hover,
#search_mini_form .jcf-list-box .jcf-selected {
  background: #f57a20;
  color: #fff;
}
#search_mini_form .jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}
#search_mini_form .jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}
/* common custom form elements styles */
#search_mini_form .jcf-disabled {background: #ddd !important;}
#search_mini_form .jcf-focus, .jcf-focus * {border-color: #eaeaea !important;}

#search_mini_form .jcf-list-content ul,
#search_mini_form .jcf-select{
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    color: #575757;
    font-family: "GothamNarrow-Book", "GothamMedium-Regular","Open Sans",sans-serif;
    font-size: 11px;
    outline: medium none;
    padding-left: 10px;
    text-align: left;
    text-transform: uppercase;
    width: 100% !important;
}
#search_mini_form .jcf-list-content ul{
  padding: 0;
  border-top: 1px solid #eaeaea !important;
}
#search_mini_form .jcf-list-content li{
  background: none;
  color: #666;
  border-bottom: 1px solid #eaeaea !important;
}

#search_mini_form .jcf-select .jcf-select-opener:before{
  position: absolute;
  top: 40%;
  left: 20%;
  content: '';
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px dashed;
  height: 0;
  width: 0;
  color: #575757;
}
.mainheadnav .searchform .all-search-cats{width: 24%;}
.mainheadnav .searchform input{width: 74%;}
.mainheadnav .searchform .mg{
  background: #f57a20;
  color: #fff;
  height: 50px;
  margin: -6px 0 0;
  border-color: #fff;
}
.mainheadnav .searchform .mg:hover{
  background: #f57a20;
}
.maincontainer .filters ul li label:after,
.maincontainer .filters ul li:after{
  display: block;
  content: '';
  clear: both;
}
.maincontainer .filters ul li label{display: block;}








