/*=========================================MEDIA QUERIES===========================================*/
@media only screen and (min-width: 1601px) {
    .maincontainer section#menuslider:before {
        content: "";
        display: block;
        width: 200%;
        height: 100%;
        background-color: #eee;
        position: absolute;
        top: 0;
        z-index: 0;
        left: -50%;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1600px) {
    .maincontainer section#menuslider:before {
        content: "";
        display: block;
        width: 200%;
        height: 100%;
        background-color: #eee;
        position: absolute;
        top: 0;
        z-index: 0;
        left: -50%;
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1439px) {
    .maincontainer section#menuslider:before {
        content: "";
        display: block;
        width: 200%;
        height: 100%;
        background-color: #eee;
        position: absolute;
        top: 0;
        z-index: 0;
        left: -50%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    .maincontainer .page_menu {
        display: none;
    }
    .maincontainer .mainmenu > .top > li {
        padding: 7px 15px;
    }
    .maincontainer .mainmenu > .top > li > a {
        font-size: 12px;
    }
    #features .features-item {
        min-height: 200px;
    }
    .buyerprotection .title-big {
        font-size: 24px;
        margin-bottom: 8px;
    }
    .buyerprotection a {
        padding: 0;
    }
    .maincontainer section#menuslider:before {
        content: "";
        display: block;
        width: 200%;
        height: 100%;
        background-color: #eee;
        position: absolute;
        top: 0;
        z-index: 0;
        left: -50%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .maincontainer .page_menu {
        display: none;
    }
    .mainhead .reasonsnav ul li {
        font-size: 9px;
    }
    .mainhead .call-us a i {
        font-size: 8px;
        padding: 4px 5px;
        margin-top: -3px;
    }
    .mainhead .dealsnav ul li {
        padding-right: 28px;
    }
    .mainheadnav .minicart a {
        font-size: 0.9em;
        text-align: left;
        padding-left: 15px;
        line-height: 1.4;
        clear: both;
    }
    .mainheadnav .minicart a .cart-items {
        margin-left: 0px;
        padding: 15px 13px;
        float: right;
        margin-top: -15px;
    }
    .maincontainer .mainmenu {
        height: auto;
    }
    .mainmenu.flymenu {
        max-width: 941px;
    }
    .mainheadnav .searchform .all-search-cats {
        width: 45%;
    }
    .mainheadnav .searchform input {
        width: 52%;
    }
    .maincontainer .mainmenu > .top > li {
        padding: 4px 15px 3px;
    }
    .maincontainer .mainmenu > .top > li > a {
        font-size: 12px;
    }
    .maincontainer .mainmenu > .top > li > a span {
        background-position: 0px 2px;
    }
    .maincontainer .mainmenu > .top > li > a:hover span {
        background-position: -30px 2px;
    }
    #features .features-item {
        min-height: 200px;
    }
    .buyerprotection .title-big {
        font-size: 24px;
        margin-bottom: 8px;
    }
    .buyerprotection a {
        padding: 0;
    }
    .maincontainer .columnslider .col-box h4 {
        font-size: 14px;
    }
    .buyerprotection .protection-list li {
        padding-right: 12%;
    }
    .maincontainer .mainmenu > .top > li:hover > .submenuDiv > .ads a {
        font-size: 11px;
        padding: 10px 52px 10px 10px;
    }
    .img-box img {
        width: 100%;
    }
    .products .product .image,
    .products .product .details,
    .products .product .price-info,
    .products .product .image .img-box {
        height: auto;
    }
    .maincontainer section#menuslider:before {
        content: "";
        display: block;
        width: 200%;
        height: 100%;
        background-color: #eee;
        position: absolute;
        top: 0;
        z-index: 0;
        left: -50%;
    }
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) {
    .maincontainer .page_menu {
        display: none;
    }
    .mainhead .dealsnav ul li:first-child a {
        min-width: 135px;
        display: block;
    }
    .mainhead .reasonsnav ul li {
        font-size: 9px;
    }
    .mainhead .call-us {
        font-size: 0.8em;
        padding-top: 5px;
    }
    .mainhead .call-us a {
        font-size: 1.1em;
    }
    .mainhead .call-us a i {
        font-size: 8px;
        padding: 4px 5px;
        margin-top: -3px;
    }
    .mainheadnav .minicart a {
        font-size: 0.9em;
        text-align: left;
        padding-left: 15px;
        line-height: 1.4;
        clear: both;
    }
    .mainheadnav .minicart a .cart-items {
        margin-left: 0px;
        padding: 15px 13px;
        float: right;
        margin-top: -15px;
    }
    .maincontainer .mainmenu {
        height: auto;
    }
    .mainmenu.flymenu {
        max-width: 941px;
    }
    .maincontainer .mainmenu > .top > li {
        padding: 4px 15px 3px;
    }
    .maincontainer .mainmenu > .top > li > a {
        font-size: 12px;
    }
    .maincontainer .mainmenu > .top > li > a span {
        background-position: 0px 2px;
    }
    #features .features-item {
        min-height: 200px;
    }
    .buyerprotection .title-big {
        font-size: 24px;
        margin-bottom: 8px;
    }
    .buyerprotection a {
        padding: 0;
    }
    .maincontainer .columnslider .col-box h4 {
        font-size: 14px;
    }
    .buyerprotection .protection-list li {
        padding-right: 12%;
    }
    .img-box img {
        width: 100%;
    }
    .products .product .image,
    .products .product .details,
    .products .product .price-info,
    .products .product .image .img-box {
        height: auto;
    }
    .maincontainer section#menuslider:before {
        content: "";
        display: block;
        width: 200%;
        height: 100%;
        background-color: #eee;
        position: absolute;
        top: 0;
        z-index: 0;
        left: -50%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 991px) {
    .mainhead .logo {
        padding: 0;
    }
    .mainhead .dealsnav ul li a {
        font-size: 11px;
        line-height: 1.4;
    }
    .mainhead .reasonsnav ul li:first-child,
    .mainhead .reasonsnav ul li {
        text-align: right;
    }
    .mainhead .dealsnav ul li {
        text-align: center;
        padding-right: 20px;
    }
    .mainhead .dealsnav ul li a .new {
        display: inline-block;
    }
    .mainhead .dealsnav ul li a .new:before {
        top: 1px;
    }
    .maincontainer .page_menu,
    .maincontainer .mainmenu {
        display: none;
    }
    .homeslidercontainer {
        width: 100%;
    }
    .mainmenu.flymenu {
        max-width: 750px;
        top: 0px;
    }
    .megamenurightimage {
        visibility: hidden;
    }
    .all-search-cats select {
        width: 100%;
    }
    .wp-custom-menu-popup .column {
        width: 50% !important;
    }
    .mainhead ul li.call-us a i {
        font-size: 8px;
        padding: 3px 4px;
        margin-top: -3px;
    }
    .mainhead .logo {
        padding-bottom: 10px;
    }
    .mainheadnav .searchform {
        width: 50%;
        float: left;
    }
    .topbar .topnav ul li {
        padding: 0 20px;
    }
    .topbar .topnav li li {
        padding: 10px 20px;
    }
    .mainheadnav .searchform .all-search-cats {
        width: 40%;
        font-size: 14px;
        float: left;
    }
    .mainheadnav .searchform .search-category-select {
        width: 100% !important;
    }
    .mainheadnav .searchform #search {
        width: 100%;
        font-family: inherit;
        margin-top: -5px;
        border: 0 !important;
        background-color: transparent;
        padding: 5px;
    }
    .mainheadnav .searchform .search-category-select .dropdown-menu.open {
        padding-top: 0;
    }
    .mainheadnav .searchform .search-category-select button {
        padding: 0;
    }
    .mainheadnav .searchform input {
        width: 100%;
        margin-top: -5px;
    }
    .mainhead .call-us a {
        font-size: 1.1em;
    }
    #features .features-item {}
    #features .features-item:nth-child(3) {
        border-right: 1px solid #e5e5e5;
    }
    .buyerprotection .title-big {
        font-size: 24px;
        margin-bottom: 0;
    }
    .buyerprotection a {
        padding: 0;
    }
    .buyerprotection .shield {
        padding: 20px 15px;
        background-position: 7px 7px;
    }
    .owl-theme .owl-controls {
        margin-top: -40px;
        margin-bottom: 10px;
    }
    .maincontainer .sectiontitle .brandsmenu a,
    .maincontainer .sectiontitle .brandsmenu select {
        font-size: 12px;
    }
    .site-footer .footer-bottom .copyrights {
        text-align: center;
    }
    .maincontainer .mainmenu {
        position: absolute;
        top: 167px;
        z-index: 555;
        width: auto;
        border-top: 1px solid #eaeaea;
    }
    .maincontainer .mainmenu > .top > li:hover > .submenuDiv {
        width: 226%;
    }
    .maincontainer .mainmenu > .top > li:hover > .submenuDiv > .submenu {
        width: 33.3%;
    }
    body.cms-index-index .mainheadnav .catgories a span {
        display: block;
    }
    .maincontainer .mainmenu > .top > li:hover > .submenuDiv > .ads a {
        padding: 10px;
        font-size: 11px;
        min-height: inherit;
    }
    .maincontainer .mainmenu > .top > li:hover > .submenuDiv > .ads {
        height: auto;
    }
    .maincontainer .mainmenu > .top > li:hover > .submenuDiv > .submenu li.heading a,
    .maincontainer .mainmenu > .top > li:hover > .submenuDiv > .submenu li a {
        font-size: 11px;
    }
    .img-box img {
        width: 100%;
    }
    .products .product .image,
    .products .product .details,
    .products .product .price-info,
    .products .product .image .img-box {
        height: auto;
        min-height: inherit;
    }
    .product .orders {
        position: static;
    }
    .products .product.grid {
        width: 48%;
    }
    .products .product.grid:nth-of-type(2n+2) {
        margin-right: 0;
    }
    .products .product.grid:nth-of-type(3n+3) {
        margin-right: 3%;
    }
    .products .main_title p {
        float: none;
        margin-bottom: 0;
    }
    .cart_table .item-detail a.remove {
        position: relative;
    }
    .cart_table td {
        padding: 10px;
    }
    .cart_page .btn2 {
        padding: 5px 10px;
        margin-top: 5px;
    }
    .mainhead .reasonsnav,
    .maincontainer .mainmenu > .top > li:hover > .submenuDiv > .ads-r,
    .maincontainer .mainmenu > .top > li:hover > .submenuDiv > .ads a img {
        display: none;
    }
    .smartphones,
    .desktop {
        display: none;
    }
    .tablet {
        display: block;
    }
}


/*@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
.mainhead .logo{padding:0;}
.mainhead .dealsnav ul li a{font-size:11px;}
.mainhead .reasonsnav ul li:first-child,.mainhead .reasonsnav ul li{
text-align:right;}
.mainhead .dealsnav ul li{text-align:center;}
.maincontainer .page_menu,.maincontainer .mainmenu{display:none;}
.mainheadnav .minicart{font-size:14px;padding-bottom:16px;}
.homeslidercontainer{width:100%;}
.mainhead .call-us{font-size:0.9em;padding-top:5px;}
.mainhead .call-us a{font-size:1.1em;}
#features .features-item{}
#features .features-item:nth-child(3){border-right:1px solid #e5e5e5;}
.buyerprotection .title-big{font-size:24px;margin-bottom:0;}
.buyerprotection a{padding:0;}
.buyerprotection .shield{height:145px;}
.desktop{display:none;}
.smartphones,.tablet{display:block;}
}*/

@media only screen and (max-width : 800px) {
.desktop, .tablet { display: none; }
.smartphones { display: block; }
body.push-body-toright { overflow: hidden; }
.maincontainer .page_menu, .header .topbar, .mainhead .reasonsnav, .mainhead .dealsnav, .maincontainer .mainmenu, .promotionslider .col-sm-4:last-child, .maincontainer .sectiontitle .dropdown, .mainheadnav .catgories a h2, .site-footer .footer-bottom .live-chat, #features, #sponsors { display: none; }
/*.container{padding:0;}*/
.maincontainer section {/*padding-top:0;padding-left:10px;padding-right:10px;*/ }
.maincontainer { /*background-color: #eee;*/ }
.mainheadnav .searchform input, .mainheadnav .searchform .all-search-cats { width: 49%; }
.mainheadnav .searchform .mg { top:15px; height: 30px;margin-top:0; }
#search_mini_form #search{margin-top: 6px;}
.maincontainer .columnslider .col-box {margin-left:0px;margin-right:0;width:49%;float:none;display: inline-block;
min-height:315px;vertical-align:top;margin-bottom:5px;}
.maincontainer .columnslider .col-box:last-child { float: none; }
.promotionslider .col-sm-4, .promotionslider .col-sm-4:nth-child(2) { padding: 5px; width: 50%; display: inline-block; float: left; }
.promotionslider .col-sm-4:first-child { padding: 5px; }
.promotionslider .col-sm-4 a { padding: 0; margin: 0; }
.maincontainer section#menuslider { padding-bottom: 0px;margin:0 -15px; }
.maincontainer .sectiontitle { padding: 14px; margin:0; background-color: #fff; }
.maincontainer .sectiontitle:before { display: none; }
.maincontainer .sectiontitle h2 { padding: 0; border: 0; height: auto; font-size: 16px; }
.maincontainer .sectiontitle h4 { font-size: 12px; padding: 0 0px; line-height: 1.5em; }
.maincontainer .sectiontitle a { display: none; }
.maincontainer .sectiontitle .brandsmenu { margin: -5px; }
.maincontainer #recomendations .sectiontitle a { display: inline-block; }
.maincontainer .columnslider, .maincontainer .recomandations { margin-top: 0; }
.maincontainer .recomandations .col-rec {/*padding:0;*/ width: 50%; float: left; }
.mainhead .logo { padding-left:25px; position: relative; width: 100%; padding-bottom: 15px; }
.mainhead .logo img { max-width: 120px; }
.mainheadnav { background-color: transparent; }
.mainheadnav .catgories, .mainheadnav .minicart { position: absolute; top: 16px; padding: 0; background-color: transparent; }
.mainheadnav .catgories a, .mainheadnav .minicart a { display: block; height: 30px; width: 30px; }
.mainheadnav .catgories a span{right:inherit;left:0;top:10px;color:#f57a20;font-size:20px;
display:none;}
/*body.cms-index-index .mainheadnav .catgories a span{display:block;}*/
.mainheadnav .minicart { right:15px; width: 35px; overflow: hidden; height: 35px; background-color: transparent; top: -62px; }
.mainheadnav .minicart a.skip-cart{padding:0;overflow:hidden;background-color:transparent;}
.mainheadnav .minicart span.icon{font-size: 30px;color:#5a5f65;}
/*.mainheadnav .minicart a { text-indent: 300px; background-image: url(../images/cart-img-gray.png); background-repeat: no-repeat; background-position: center; height: 25px; width: 30px; background-color: transparent; }
.mainheadnav .minicart a .cart-items { position: absolute; top: 0; margin: 0; padding: 2px; font-size: 8px; right: -5px; text-indent: 0; width: 15px; text-align: center; border-radius: 140px; line-height: 1.5; height: 15px; }*/
.mainheadnav .searchform { display: none; height: auto; }
.site-footer .footer-bottom .credit-cards { padding: 5px 20px; text-align: center; }
.showsearch { display: block; position: absolute; top: 17px; right: 60px; font-size: 25px; color: rgb(90, 95, 101); cursor: pointer; }
.owl-theme .owl-controls { margin-left: 0; text-align: center; }
#category-menu, #ads { display: block; padding:0; margin:5px -5px -15px;}
#category-menu{background-color:#fff;margin:0 -15px;}
#deals { padding-top: 20px; }
.cat-menu-btn { font-size: 12px; background: #2d2e32; text-align: right; clear: both; }
.cat-menu-btn h3 { text-align: left; }
.cat-menu-btn span { margin-top: -15px; display: block; font-size: 15px; }
/*.category-menu,.loadmore{display:block;}*/
.category-menup li { display: inline-block; width: 25%; float: left; padding-bottom: 10px; border-right: 1px solid #eaeaea; height: 90px; }
.category-menup li a { color: #2d2e32; border: 0; background-color: transparent; padding: 5px 3px; font-size: 11px; text-align: center; max-width: 100px; margin: 0 auto; display: block; width: 100%; }
.category-menup li a:hover { background-color: transparent; }
.category-menup li a span { background-image: url(../images/cat-sprite.png); text-align: center; background-repeat: no-repeat; background-position: 0px 2px; width: 25px; height: 25px; display: block; vertical-align: middle; margin: 10px auto 5px; }
.category-menup li > a.clearance-sale span { background-position: 0px 2px; }
.category-menup li > a.phones-accessories span { background-position: 0px -35px; }
.category-menup li > a.computer-accessories span { background-position: 0px -74px; }
.category-menup li > a.consumer-electronics span { background-position: 0px -115px; }
.category-menup li > a.games-accessories span { background-position: 0px -156px; }
.category-menup li > a.home-office-supplies span { background-position: 0px -194px; }
.category-menup li > a.watches-perfumes-gifts span { background-position: 0px -233px; }
.category-menup li > a.health-beauty-sports span { background-position: 0px -275px; }
.category-menup li > a.fashion-jewelry-accessories span { background-position: 0px -314px; }
.category-menup li > a.bags-shoes-wallets span { background-position: 0px -353px; }
.category-menup li:last-child { border-right: 0; }
.loadmore, .maincontainer section .viewmore { text-align: center; width: 100%; clear: both; color: #fff; text-transform: uppercase; font-size: 14px; background-color: #2d2e32; border-radius: 5px; padding: 15px; margin: 0; }
.maincontainer section .viewmore a { color: #fff; font-style: normal; float: none; font-size: 14px; padding: 2px; display: block; }
.maincontainer .recomandations, #recomendations { padding-bottom: 0; clear: both; }
#buyersprotection { padding-bottom: 25px; }
#buyersprotection .buyerprotection { margin: 0; }
.buyerprotection .shield { background-image: url(../images/shield-gray.png); background-color: transparent; background-size: 50px; display: inline-block; padding-top: 60px; height: auto; vertical-align: top; }
.buyerprotection .title-big { color: #64696d; font-size: 22px; margin-bottom: 0; font-weight: 400; }
.buyerprotection a { text-align: left; }
.buyerprotection .protection-list li { line-height: 1.5; color: #64696d;padding-right:0; }
.site-footer { background-color: transparent; }
.site-footer .footer-main { padding: 15px 0 20px; background-color: #f6f6f6;/*margin:0 10px;*/ border-radius: 5px; }
.site-footer .footer-main .social { padding: 0; }
.site-footer .footer-main h3 { font-family: inherit; }
.site-footer .footer-main .connect { margin: 0px -15px; border-bottom: 1px solid #eee; color: #64696d; text-transform: uppercase; line-height: 1; margin-bottom: 20px; padding: 0 15px 10px; }
.site-footer .footer-main .subscribe input { max-width: 66%; }
.site-footer .credit-cards { padding: 20px; background-color: #eee; }
.site-footer .footer-bottom { padding: 20px 10px; text-align: center; }
.maincontainer section { padding-bottom: 0; clear: both; }
.mainhead .logo button{position:absolute;top:7px;left:-3px;padding:0;border:0;color:#f57a20;
background-color:transparent;font-size:24px;z-index:999;outline:none;display:block;}
.mainmenu.flymenu { border: 0; }
.floatmenu a { color: #f0f0f0; text-transform: uppercase; }
.floatmenu .userbio { padding: 20px 0 20px 70px; font-size: 12px; color: #acacae; text-transform: none; }
.floatmenu .userbio:hover { background-color: #1B1D22; }
.floatmenu .userbio .userpic { width: 50px; height: 50px; position: absolute; left: 10px; display: block; top: 15px; }
.floatmenu .userbio .userpic img { width: 50px; height: 50px; }
.floatmenu .userbio h3 { line-height: 1.4; font-size: 20px; color: #fff; }
.floatmenu a span { display: inline-block; vertical-align: middle; padding-right: 15px; font-size: 20px; }
.floatmenu a span img { width: 20px; }
.floatmenu a .circle-count { float: right; width: 20px; height: 20px; font-size: 9px; background-color: #f57a20; text-align: center; padding: 3px; color: #fff; line-height: 1.5; border-radius: 50%; }
.floatmenu .empty { height: 60px; border-bottom: 1px solid #3d3e42; }
.maincontainer .filters { background-color: #fff; }
.maincontainer .filters .price{color:inherit;font-family:inherit;font-size:inherit;font-weight:inherit;}
input[type=checkbox],input[type=radio]{margin-top:0;vertical-align:middle !important;}
.margin1 { margin-left:0px; }
.toolbar { margin: 0; padding: 15px; background-color: #fff; margin-bottom: 20px; }
.products .product { background-color: #fff; }
.products .product .image { padding-right: 0; }
.products .product.grid,.products .product.grid[data-items="4"] { width: 48%; margin-right:1% !important; /*height:450px;*/}
.products .product.grid .wishlist{margin-top:7px;}
.products .product.grid:nth-of-type(2n+2) { margin-right: 0; }
.products .product.grid:nth-of-type(3n+3) { margin-right:inherit; }
.toolbar .sorter .sort-by, .toolbar .sorter .pager, .toolbar .sorter .view-mode, .toolbar .sorter .pagination{margin-top:5px;margin-bottom:5px;
font-size:12px;}
.__product__main__area .buttons .col-sm-9{padding-right:15px;margin-bottom:15px;}
/*.__product__main__area .buttons .col-sm-3{padding-left:0;}*/
.__peoples__loved{margin:0;margin-bottom:15px;background-color:#fff;padding:10px 18px;}
.__peoples__loved .col-sm-4{width:100%;float:none;display:block;clear:both;margin:15px 0;}
.__peoples__loved .col-sm-4:before,.__peoples__loved .col-sm-4:after{display:table;content:'';
clear:both;}
.__product__main__area .price{font-size:18px;}
.img-box img{max-width:100%;}
.form-horizontal .form-group.review-textarea .col-sm-8{width:100%;}
.form-horizontal .form-group.review-textarea .col-sm-4{margin-top:10px;}
.form-horizontal .form-group.review-textarea #product-review-table tr{background-color:inherit;}
.form-horizontal .form-group.review-textarea #product-review-table th,.form-horizontal .form-group.review-textarea #product-review-table td{
width:49% !important;display:inline-block;vertical-align:middle;}
.__reviews__section .col-sm-5 .__rating{margin:0;}
.maincontainer .brands{margin-top:0;}
.forgot-pass .form-list .input-box{width:100%;}
.paddingzeroR{padding-right:inherit !important;}
body.canvas-slid #disable_view{display:block;}
section#menuslider .container{padding:0;}
#search_mini_form .jcf-select .jcf-select-drop{width:100% !important;}
#search_mini_form .jcf-select{margin-top:3px;}
.maincontainer .columnslider .actions, .products .product.grid .price-info .actions{visibility: visible;position:relative;left:15px;bottom:5px; }
.maincontainer .listing-suggest .columnslider .actions{bottom:5px;}
.products .product.grid .price-info .actions,.products .product .price-info .orders{left:0;bottom:0;position:relative;padding:5px 0;}
.maincontainer .columnslider .col-box .bottom-area .ratings{position:absolute;top:205px;}
/*.zopim{font-size:12px;transform: scale(0.8);right:-30px !important;bottom: 0px !important;}*/
/*.maincontainer .filters ul{display: none;}*/
/*.maincontainer .filters ul li{display: inline-block;width:49%;vertical-align:top;}*/
.maincontainer .filters .heading{border-bottom:1px solid #555;}
/*.maincontainer .filters .heading span .fa.fa-minus-square-o,.maincontainer .filters .heading span.plus .fa.fa-plus-square-o{display: none;}
.maincontainer .filters .heading span .fa.fa-plus-square-o,.maincontainer .filters .heading span.plus .fa.fa-minus-square-o{display:inline-block;}*/
.col-sm-8.col-md-9.paddingzeroR{padding-left:0;}
.columnslider .img-box,.columnslider .img-box .abs_center{display:block;height:200px;}
.columnslider .img-box{padding-bottom:30px;}
.__peoples__loved .__numbers{font-size: 28px;padding:0 10px;}
.columnslider .price{font-size:16px;}
.products .product .image, .products .product .details, .products .product .price-info, .products .product .image .img-box{min-height:inherit;}
.products .product .price, .products .product .wishlist{margin-bottom:5px;}
.products .product .wishlist, .products .product .link-compare{display:block;}
.category_deals .today_timer,.category_deals .catgories_table{width:100%;height:auto;padding:15px;}
.categories_list li{width:49%;}
.__product__detail table td, .__product__detail table th{width:100% !important;display:block;}
.__product__detail table td img, .__product__detail table th img {max-width:100%;max-height: 100%;height: auto !important;}
.cart_table .item-detail h4, .cart_table .item-detail h4 a{font-size:14px;}
.checkout-agreements p.agree input{vertical-align: middle;}
.bestSellingsNaviTable,.count-container .limiter label{display: none;}
body.customer-account .filters ul{display:block;}
body.customer-account .filters ul li{display:inherit;width:100%;}
.dashboard .welcome-msg, .dashboard .welcome-cs{width:100%;}
.form-list li label{font-size:11px;}
#checkout-step-review .data-table .price{min-width:40px;}
.cart_table th{text-align:left;border:inherit;}
.cart_table .item-detail a.remove{position:relative;bottom:0;}
.cart_table td.qty input{padding:5px;}
.cart_table td.qty, .data-table td.product_price, .cart_table td.sub-tota,.data-table td{text-align:left;}
.data-table td .item-options{text-align:left;padding:10px 0;}
.data-table td,.data-table th{padding:20px;border:1px solid #eaeaea;}
.discount-form{margin:5px 0;width:100%;}
.discount-form label{padding-bottom:5px;}
.cart_table .img-box {background-color: #fff;border:1px solid #EAEAEA;border-radius:3px;}
.st-head-row{background-color:#333;color:#fff;}
.st-head-row .item-detail ul.square,.st-head-row p,.st-head-row .item-detail h4 a,.st-head-row .label{color:#fff;}
.st-head-row.st-head-row-main{display:none;}
}

@media only screen and (max-width: 359px) {
    /*.std {display: none;}*/
    .mainhead {padding: 10px 0; padding-bottom: 0;}
    .mainheadnav .container{padding: 0px;}
    .mainhead a.logo {
        padding-bottom: 0;
        display: block;
        margin: 0px 0 0 0px;
        padding: 0;
    }
    .maincontainer .columnslider .col-box {
        margin-right: 0px;
        float: none;
        width: 100%;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        border-radius: 0;
    }
    .mainheadnav .minicart{top:-54px;}
    .maincontainer .sectiontitle .brandsmenu a,
    .maincontainer .sectiontitle .brandsmenu select {
        font-size: 11px;
        padding: 6px 5px;
    }
    .maincontainer .sectiontitle{padding-left:0;}
    .mainheadnav .searchform input,
    .mainheadnav .searchform .all-search-cats { width: 100%;border:0;}
    .mainheadnav .searchform .all-search-cats{border-bottom:1px solid #cdcdcd;}
    .mainheadnav .searchform input{border-left:0 !important;}
    .mainheadnav .searchform .mg {top: 60px;right:5px;border-radius:2px;}

    .buyerprotection .shield {
        padding-top: 40px;
        background-position:10px 10px;
        padding: 40px 20px;
        background-size:35px;
    }
    .maincontainer .recomandations .col-rec {
        float: none;
        width: 100%;
    }
    .buyerprotection .protection-list li i {
        /*margin-left:-19px;*/
    }
    .buyerprotection .protection-list li{line-height:2;padding-right:0;}
    .maincontainer section#menuslider {
        padding-bottom: 0;
    }
    .site-footer .footer-main .social a {margin-right:0px;}
    footer .emailcall a {
        font-size: 11px;
        margin-right: 0;
    }
    footer .emailcall a img {
        max-width: 20px;
        max-height: 12px;
        margin-right: 1px;
    }
    footer .emailcall a:last-child {
        float: right;
    }
 /*   .cart_table .item-detail h4,.cart_table .item-detail h4 a{font-size:12px;}
    .cart_table td.qty input{padding:5px;}
    .cart_page .btn2{font-size:8px;}
    .cart_table td.qty{top:58px;}*/
    .buyerprotection .padding1{padding:0;}
    .site-footer .footer-bottom{padding:20px 0;}
}
