<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <TM_SmartSuggest>
            <version>1.3.3</version>
        </TM_SmartSuggest>
    </modules>

    <global>
        <models>
            <smartsuggest>
                <class>TM_SmartSuggest_Model</class>
                <resourceModel>smartsuggest_mysql4</resourceModel>
            </smartsuggest>
            <smartsuggest_mysql4>
                <class>TM_SmartSuggest_Model_Mysql4</class>
            </smartsuggest_mysql4>
        </models>
        <blocks>
            <smartsuggest>
                <class>TM_SmartSuggest_Block</class>
            </smartsuggest>
        </blocks>
        <helpers>
            <smartsuggest>
                <class>TM_SmartSuggest_Helper</class>
            </smartsuggest>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <smartsuggest>
                    <file>tm/smartsuggest.xml</file>
                </smartsuggest>
            </updates>
        </layout>
        <translate>
            <modules>
                <TM_SmartSuggest>
                    <files>
                        <default>TM_SmartSuggest.csv</default>
                    </files>
                </TM_SmartSuggest>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <TM_SmartSuggest>
                    <files>
                        <default>TM_SmartSuggest.csv</default>
                    </files>
                </TM_SmartSuggest>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <smartsuggest>
            <left>
                <enabled>0</enabled>
                <mode>slider</mode>
                <column_count>2</column_count>
                <products_count>10</products_count>
                <order>popularity</order>
                <category></category>
            </left>
            <product_additional_info>
                <enabled>0</enabled>
                <mode>slider</mode>
                <column_count>4</column_count>
                <products_count>15</products_count>
                <order>popularity</order>
            </product_additional_info>
            <right>
                <enabled>0</enabled>
                <mode>list</mode>
                <column_count>2</column_count>
                <products_count>4</products_count>
                <order>popularity</order>
            </right>
            <suggestpage>
                <enabled>1</enabled>
                <mode>grid</mode>
                <column_count>5</column_count>
                <products_count>5</products_count>
                <order>popularity</order>
            </suggestpage>
            <source>
                <category>1</category>
                <attribute_set>1</attribute_set>
                <related>1</related>
                <upsell>0</upsell>
                <crossell>0</crossell>
            </source>
            <filter>
                <price>1</price>
                <price_min_range>25</price_min_range>
                <price_max_range>25</price_max_range>
            </filter>
            <event_importance>
                <shopping_cart_product>10</shopping_cart_product>
                <wishlist_product>10</wishlist_product>
                <catalog_product_view>1</catalog_product_view>
                <catalog_product_compare_add_product>2</catalog_product_compare_add_product>
                <checkout_cart_add_product>3</checkout_cart_add_product>
                <wishlist_add_product>3</wishlist_add_product>
            </event_importance>
        </smartsuggest>
    </default>
</config>