<?xml version="1.0"?>
<config>
    <modules>
        <MyExtensions_Observerdemo>
            <version>0.1.0</version>
        </MyExtensions_Observerdemo>
    </modules>
    <global>
        <models>
            <myextensions_observerdemo>
                <class>MyExtensions_Observerdemo_Model</class>
            </myextensions_observerdemo>
        </models>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <MyExtensions_Observerdemo_Model_Observer>
                        <type>singleton</type>
                        <class>MyExtensions_Observerdemo_Model_Observer</class>
                        <method>addtocartEvent</method>
                    </MyExtensions_Observerdemo_Model_Observer>
                </observers>
            </checkout_cart_product_add_after>
              
             <review_save_before>
                <observers>
                    <MyExtensions_Observerdemo_Model_Observer>
                        <type>singleton</type>
                        <class>MyExtensions_Observerdemo_Model_Observer</class>
                        <method>autoApproveReview</method>
                    </MyExtensions_Observerdemo_Model_Observer>
                </observers>
            </review_save_before>
        </events>
    </global>
 
</config>