<?xml version="1.0"?>
<!--
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_PriceCount
 * @version     0.1.4
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
  -->
<config>
    <modules>
        <Apptha_Timer>
            <version>0.1.4</version>
        </Apptha_Timer>
    </modules>
    <global>
         <blocks>
         	<timer>
                <class>Apptha_Timer_Block</class>
            </timer>
          	<catalog>
                <rewrite>
                	<product_list>Apptha_Timer_Block_Product_List</product_list>
                    <product_view>Apptha_Timer_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <timer>
                <class>Apptha_Timer_Helper</class>
            </timer>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <timer>
                    <file>timer.xml</file>
                </timer>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<layout>
			<updates>
				<timer>
					<file>timer.xml</file>
				</timer>
			</updates>
		</layout>
    </adminhtml>
     <default>
        <timer>
            <general>
                <enabled>1</enabled>
                <timer_heading>showall</timer_heading>
                <timer_catption>showall</timer_catption>
                <title>Price CountDown</title>
            </general>
            <apptha_timer_color>
                <text>000000</text>
                <heading_text_color>000000</heading_text_color>
                <description>000000</description>
            </apptha_timer_color>
        </timer>
    </default>   
</config>