<?xml version="1.0"?>
<!--
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_PriceCount
 * @version     0.1.4
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
  -->
<config>
    <tabs>
        <Apptha translate="label" module="timer">
            <label>Apptha</label>
            <sort_order>300</sort_order>
        </Apptha>
    </tabs>
    <sections>
        <timer translate="label" module="timer">
            <tab>Apptha</tab>
            <label>Price Countdown</label>
            <frontend_type>text</frontend_type>
            <sort_order>120</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="timer">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Activate Price Countdown:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Activate Product Timer</comment>
                        </enabled>
                        <timer_heading translate="label">
                            <label>Timer Heading:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Apptha_Timer_Model_System_Config_Source_Showin</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Timer Heading</comment>
                        </timer_heading>
                         <timer_catption translate="label">
                            <label>Timer Caption:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Apptha_Timer_Model_System_Config_Source_Showin</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Timer Caption</comment>
                        </timer_catption>
                        <title translate="label">
                            <label>Timer Heading Text:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Timer Heading Text.</comment>
                        </title>
                    </fields>
                </general>
                <apptha_timer_color translate="label" module="timer">
                    <label>Colors</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <text translate="label">
                            <label>Timer Color:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                             <validate>color</validate>
                            <comment>Please Click the text box to select color</comment>
                        </text>
                        <heading_text_color translate="label">
                            <label>Timer Heading Text Color:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                             <validate>color</validate>
                            <comment>Please Click the text box to select color</comment>
                        </heading_text_color>
                        <description translate="label">
                            <label>Timer Caption Text Color:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                             <validate>color</validate>
                            <comment>Please Click the text box to select color</comment>
                        </description>
                    </fields>
                </apptha_timer_color>
            </groups>
        </timer>
    </sections>
</config>