.ca-wrapper{
    width:100%;
    height:100%;
    position:relative;
}
.ca-item{
    position:relative;
    float:left;
    width:200px;
    height:100%;
    text-align:center;
    margin-bottom: 5px;
}
.ca-item-main{
    position:absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:-3px;
    background:#fff;
    border: 1px solid #ccc;
    overflow:hidden;
/*    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    box-shadow:1px 1px 2px rgba(0,0,0,0.2);*/
}
.ca-item-main.slider{
    position:absolute;
    top:5px;
    left:3px;
    right:15px;
    bottom:5px;
    background:#fff;
    border: 1px solid #ccc;
    overflow:hidden;
/*    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    box-shadow:1px 1px 2px rgba(0,0,0,0.2);*/
}
.ca-nav span:hover{
    opacity:1.0;
}

.ca-container{
    position:relative;
    margin:22px auto;
    padding: 0 50px;
}
.ca-container .brand-logo {
    /*height: 125px;*/
    align-items: center;
    display: inline-flex;
}
.brand-title h1{
    text-transform: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 7px 55px;
    margin-bottom: 15px;
    background: orange;
}
.ca-item-main .brand-logo img {
    display: inline-block;
}